* {
  font-family: 'Poppins', sans-serif;

} 



h1, h2 {
  font-family: 'Poppins', sans-serif;
  background-color: none;
}

.image-fluid {
  height: 250px;
  width: 250px;
  border-radius: 180px;
  box-shadow: 0 10px 8px -8px black;
  }

  /*.container-fluid {
    background-color:#FAF3DF;
  }*/
#landing { /*it will select the element that has and ID attribute and a value called lading*/
  height: 80vh; /*will take up 80 of the screen height*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery { /*center the content vertically*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  color: #007bff;
}

.tools {
  padding: 25px; /*spaces inside our elements*/
  height: 225px;
  border: 5px solid #f2f2f2; /*border lines*/
  width: 75%;
  margin: 20px;
  color: white;
}
